    {% include "partial/test123.html" %}
    <div class="row">
        <div class="mx-md-auto col-md-6">
            <form action="addproperty" method="POST" enctype="multipart/form-data">
                <div  style="margin-bottom: 10px"  class="form-group">
                    {%csrf_token%}
                    {{form.property_name}}
                    {{form.property_description}}                       
                    {{form.property_rent}}
                    {{form.property_address}}
                    {{form.property_landmark}}
                    <div class="upload_img_cntnr mb-3">
                        <label>Choose Multiple Images From Your Device</label> 
                        {%csrf_token%} 
                        {{form.image_field}}
                    </div>
                </div>
                <input style="display: block" type="submit" class="btn btn-danger mx-auto" value="Add Property">
            </form>     
        </div>
    </div>
    </div>  
{% include "partial/footer.html" %} 
