<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>add your property</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/b723bd9b3f.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <style type="text/css">
        .upload_img_cntnr{
            border: 1px dotted #000000;
            background: #B4B4B4;
        }  
        .form-group{
            padding: 5px 30px 10px 30px;
        }     
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="mx-md-auto col-md-6">
                <form action="addproperty" method="POST" enctype="multipart/form-data">
                    <div  style="margin-bottom: 10px"  class="form-group">
                        {%csrf_token%}
                        {{form.property_name}}
                        {{form.property_description}}                       
                        {{form.property_rent}}
                        {{form.property_address}}
                        {{form.property_landmark}}
                        <div class="upload_img_cntnr mb-3">
                            <label>Choose Multiple Images From Your Device</label> 
                            {%csrf_token%} 
                            {{form.image_field}}
                        </div>
                    </div>
                    <input style="display: block" type="submit" class="btn btn-danger mx-auto" value="Add Property">
                </form>     
            </div>
        </div>
    </div>   
</body>
</html>