<html>
    <head>
        <title>View Our Properties</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/b723bd9b3f.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <style type="text/css">
            .tempbox{
                height: auto;
                padding: 15px;
            }
            .card-image-top{
                width: 100%;
                height: 200px;
                position: relative;
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
                
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4 tempbox">
                    <img class="card-image-top d-xs" src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg">
                    <div class="card-body">
                        <h6>Venture Villa</h6>
                        <p>Attingal</p>
                    </div>
                </div>
                <div class="col-md-4 tempbox">
                    <img class="card-image-top d-xs" src="https://image.freepik.com/free-photo/tropical-leaves-colorful-flower-dark-tropical-foliage-nature-background-dark-green-foliage_34998-128.jpg">
                    <div class="card-body">
                        <h6>Thasil Villa</h6>
                        <p>Kollam</p>
                    </div>
                </div>
                <div class="col-md-4 tempbox">
                    <img class="card-image-top d-xs" src="https://tinypng.com/images/social/website.jpg">
                    <div class="card-body">
                        <h6>Sundram Villa</h6>
                        <p>Thiruvananthapuram</p>
                    </div>
                </div>
                <div class="col-md-4 tempbox">
                    <img class="card-image-top d-xs" src="https://pe-images.s3.amazonaws.com/photo-effects/cc/image-in-shape/photoshop-image-in-shape-effect.jpg">
                    <div class="card-body">
                        <h6>Sundram Villa</h6>
                        <p>Thiruvananthapuram</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>