@{% include "partial/test123.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <h1 class="mx-auto">{{propname}}</h1>
            <hr class="colorgraph">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {%for images in propimgs%}
                        <div class="carousel-item {%if forloop.first%}
                                                    active
                                                    {%endif%}">
                            <img style="max-height: 500px;min-height:300px" class="d-block w-100 img-fluid" src="{{images.property_img.url}}" alt="Second slide">
                        </div>
                    {%endfor%}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <div>
                  <p>bhuhhahhhaa</p>
                  <p>{{propdetails.property_name}}</p>
              </div>
        </div>
        </div>
    </div>

</html>